<div class="span16">                                                                                                                                                          

<%= form_tag :action=>"create", :controller=>"admin/users" %>

<%= render "form", :user => @user %>

</form>

</div>

