<header>
<div class="topbar">
  <nav>
  <div class="fill">
    <div class="container">
      <%= link_to "agitracker", root_path, :class => "brand" %></a>

      <ul class="nav">
        <% %w{home about contact}.each do |p| %>
        <li<%= %{ class=\"active\"}.html_safe if (!@page.nil? and @page.name === p) %>><%= link_to p.capitalize, page_path(p) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  </nav>
</div>
</header>
