<header>
<div class="topbar">
	<nav>
	<div class="fill">
		<div class="container">
			<%= link_to "agitracker", root_path, :class => "brand" %></a>

			<ul class="nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
	</nav>
</div>
</header>
